@font-face {
    font-family: Lokeya;
    src: url(Lokeya\ Alternate.otf);
}

body{
    background-image: url(paisaje1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.tabla1 td{
    border-width: 5px;
    border-color: rgb(117, 155, 227);
    border-style: solid;
    width: 450px;
    height: 100px;
    background-color: rgb(139, 166, 246);
    text-align: center;
    vertical-align: middle;
}
.tabla1{
    margin: auto;
}
input[type=text],input[type=password]{
    position: sticky;
    float: none;
    width: 100%;
    height: 50%;
    border-radius: 0%;
}
h2{
    font-family: Lokeya;
    color: rgb(138, 135, 236);
    border-color: black;
    border-radius: 100%;
}
form {

    width: 40%; 
   height: auto;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}
select {
    width: 50%;
    height: 40px;
}
fieldset{
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(164, 209, 246);
    border-color: hsl(240, 94%, 81%);
}
legend{
    color: rgb(141, 74, 235);
    font-family: Lokeya;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.datos_personales{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(190, 171, 244);
    border-width: 4px;
    border-style: inset;

}
.HorariosQ{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(190, 171, 244);
    border-width: 4px;
    border-style: inset;
}
.Cita{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(190, 171, 244);
    border-width: 4px;
    border-style: inset;
}


